@media only screen and (max-width: 767px){
    body{
        width: 300px;
        border-style: solid;
        border-color: red;
    }

.bluediv h2{
    position: relative;
    right: 25px;
    font-size: 1.5rem;
}
.greendiv{
    position: absolute ;
    top: 0;
}
.img img{
    display: none;
    position: relative;
    right: 620px;
    top: 50px;
    width: 200px;
    height: 200px;
    z-index: -1;
    animation: none;
}

.img{
    position: relative;
    top: 250px;
    left: 100px;
    width: 100px;
    height: 100px;
    background: url(/pics/pic-2.jpg) center center /cover ;
}

.contact{
    display: none;
    width: 300px;
}

.second-container{
    display: flex;
    height:600px;
    
    }
.second-container h1{
    font-size: 1rem;
    }
#html-text{
    display: none;
}
#css-text{
display: none;
}
.left-side{
    width: 200px;
    height: 300px;
}
.right-side{
    position: absolute;
    bottom: 0;
    right: 560px;
    width: 200px;
    height: 300px;
}

.right-side img{
    position: relative;
    top: 20px;
    left: 5px;
    width: 200px;
    height: 150px;
}
.left-side  img{
    position: relative;
    top: 0;
    left: 10px;
    width: 200px;
    height: 150px;
}

.javaScript{
    right: 300px;
    width: 200px;
    background-color: red;
}

.reactjs{
    right: 300px;
    width: 200px;
     
}



#react-description{
    display: none;
}

#js-text{
    display: none;
}

.reactjs img{
    width: 200px;
    height: 150px;
}

.javaScript img{
    width: 200px;
    height: 150px; 
}

#title{
    position: absolute;
    left: 20px;
    top: 100px;
    font-size: 1rem;
    
}

.info{
    /* display: none; */
    position: absolute;
    top: 400px;
    left: 20px;
    width: 200px;
    word-wrap: break-word;
    font-size: 1rem;
}

.navbar{
    position: relative;
    left: 30px;
    display: flex;
    flex-direction: column;
    width: 70px;
   
}
}/* dont write below this!!!!!!!!!!!! */

