@media only screen and (max-width: 767px){
    body{
        background-color: gray;
        width: 300px;
        height: 3000px;
        
    }

.bluediv h2{
    position: relative;
    right: 25px;
    font-size: 1.5rem;
}

.bluediv{
    position:absolute;
    top: 0;
    margin-bottom: 0;
}
.greendiv{
    position: absolute ;
    top: 0;
}
.img img{
    display: none;
    position: relative;
    right: 620px;
    top: 50px;
    width: 200px;
    height: 200px;
    z-index: -1;
    animation: none;
}

.img{
    position: relative;
    top: 250px;
    left: 100px;
    width: 100px;
    height: 100px;
    background: url(/pics/pic-2.jpg) center center /cover ;
}

.contact{
    width: 350px;

}
#cont-div{
    display: flex;
    flex-direction:row;
    position: relative;
    left: 0;
    width: 350px;
    height: 250px;
}
#cont-div a {
    font-size: 1.3rem;
}


.second-container h1{
    font-size: 1rem;
    }
#html-text{
    display: none;
}
#css-text{
display: none;
}
.left-side{
    position:relative   ;
    top: 50px       ;
    width: 360px;
    height: 300px;
    margin-top: 0;
}
.right-side{
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 350px;
    height: 300px;
}

.right-side img{
    position: relative;
    top: 20px;
    left: 5px;
    width: 200px;
    height: 150px;
}
.left-side  img{
    position: relative;
    top: 0;
    left: 10px;
    width: 200px;
    height: 150px;
}

.javaScript{
    position: relative;
    right: 0px;
    width: 350px;
    height: 300px;
    
}

.reactjs{
    position: relative;
    right: 0px;
    width: 350px;
    height: 300px;
     }



#react-description{
    display: none;
}

#js-text{
    display: none;
}

.reactjs img{
    position: relative;
    top: 20px;
    left: 3px;
    width: 200px;
    height: 150px;
}

.javaScript img{
    position: relative;
    top: 20px;
    left: 4px;
    width: 200px;
    height: 150px; 
}

#title{
    position: absolute;
    left: 20px;
    top: 100px;
    font-size: 1rem;
    
}

.info{
    position: absolute;
    top: 400px;
    left: 20px;
    width: 200px;
    word-wrap: break-word;
    font-size: 1rem;
}

.navbar{
    position: relative;
    left: 30px;
    display: flex;
    flex-direction: column;
    width: 70px;
   
}

#facebook{
    position: relative;
    left: 30px;
}

#twitter{
    position: relative;
    left: 100px;
}

#email{
    position: absolute;
    left: 30px;
}

#ig{
    position: relative;
    left: 10px;
}

.footer{
    position:absolute;
    bottom: 0;
    margin-top: 300px;
    height: 50px;
}
}/* dont write below this!!!!!!!!!!!! */

